<div class= "container">
  <header class= "jumbotron">
    {{#link-to 'index'}}<h1>Super Rentals</h1>{{/link-to}}
  </header>
  <div class="right">
      {{outlet}}
  </div>
  <footer>
      <hr>
    {{#link-to 'contact'}}Our representatives would love to help!{{/link-to}}
  </footer>
</div>
